<%= flash[:notice] %>
<%= flash[:alert] %>


<h3><% current_user.username %></h3>


<%= form_for @profile, :url => profile_path(current_user), :html => { :multipart => true } do |f| %>
  <%= f.file_field :avatar %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  <%= f.label :birthdate %>
  <%= f.text_field :birthdate %>
  <%= f.label :city %>
  <%= f.text_area :city %>
  <%= f.label :state %>
  <%= f.text_area :state %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>

<p><%= link_to 'Cancel', profile_path, :class => 'btn' %></p>

