<% if @profile.errors.any? %>
  <div class="alert alert-error">
    <h3>Please correct these problems:</h3>
    <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @profile do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  <%= f.label :birthdate %>
  <%= f.date_select :birthdate %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.submit :class => 'btn btn-primary' %>
<% end %>