<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<ul class="dl-horizontal">
  <li><strong>First Name:</strong></dt> <%= @profile.first_name %></li>
  <li><strong>Last Name:</strong></dt> <%= @profile.last_name %></li>
  <li><strong>Gender:</strong></dt> <%= @profile.gender %></li>
  <li><strong>City:</strong></dt> <%= @profile.city %></li>
  <li><strong>State:</strong></dt> <%= @profile.state %></li>


</ul>

<p><%= link_to 'Edit profile', edit_profile_path, :class => 'btn' %></p>
