<!DOCTYPE html>
<html>
<head>
  <title>Romantical</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
        <div class="container">
          <div class="nav-bar">
            <%unless current_user.blank? %>
              Logged in as <b><%= current_user.username %></b>.
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              <%= link_to "Edit User", edit_user_registration_path %>
              <%= link_to "Edit Profile", edit_profile_path(current_user) %>
              <%= link_to "Messages", messages_path(current_user) %> 
              <%= link_to "Pictures", pictures_path(current_user) %>
          
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Sign in", new_user_session_path %> |
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> |
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>


      <% end %>
        </div>
      </div>


    <%= yield %>


</body>
</html>
